h1 {
	color: #042A2B;
	font-family: 'Open Sans Condensed', sans-serif;
}
body {
	background-color: #FBFBDA;
}
.header {
	background-color: #CCC9E7:;
	padding: 20px 15px;
}
p {
	font-family: 'Work Sans', sans-serif;
}